<?xml version="1.0"?>
<config>
    <modules>
        <Peerforest_MultiProduct>
            <version>1.0.0</version>            
        </Peerforest_MultiProduct>
    </modules>
    <frontend>
        <routers>
            <multiproduct>
                <use>standard</use>
                <args>
                    <module>Peerforest_MultiProduct</module>
                    <frontName>multiproduct</frontName>
                </args>
            </multiproduct>
        </routers>        
    </frontend>
	<global>
	    <models>
		<multiproduct>
		    <class>Peerforest_MultiProduct_Model</class>
		</multiproduct>   
	    </models>
	    <helpers>
		<multiproduct>
			<class>Peerforest_MultiProduct_Helper</class>
		</multiproduct>
	    </helpers>    
	    
	    <blocks>
		<multiproduct>
			<class>Peerforest_MultiProduct_Block</class>
		</multiproduct>
	    </blocks>
	</global>
	<default>
	    <multiproduct>
		<custom>
		    <enable>1</enable>
		    <product_load_max>8</product_load_max>
		    <column_count>3</column_count>
		</custom>
		<block2>
		    <enable>0</enable>
		    <block_title>BESTSELLER</block_title>
		    <period>60</period>
		    <product_load_max>10</product_load_max>
		</block2>
	    </multiproduct>
	</default>
</config>
