<!--@subject Bem vindo, {{var customer.name}} - {{config path="general/store_information/name"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<tr>
    <td valign="top" class="container-td">
        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Ol&aacute; {{htmlescape var=$customer.name}},</h1>
        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Seja muito bem vindo(a) &agrave; {{var store.getFrontendName()}}. Acesse sua conta clicando em <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Entrar</a> ou <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Minha Conta</a> no alto de nossas p&aacute;ginas, ent&atilde;o informe seu email e senha.</p>
        <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0; padding:13px 18px; background:#f9f9f9;">
        Utilize as seguintes informa&ccedil;&otilde;es de acesso:<br/>
        <strong>Email</strong>: {{var customer.email}}<br/>
     <strong>Senha</strong>: {{htmlescape var=$customer.password}}<p>
        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Quando acessar sua conta, voc&ecirc; poder&aacute;:</p>
        <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
            <li style="list-style:none inside; padding:0 0 0 10px;">Fechar compras com maior agilidade;</li>
            <li style="list-style:none inside; padding:0 0 0 10px;">Acompanhar seus pedidos;</li>
            <li style="list-style:none inside; padding:0 0 0 10px;">Visualizar hist&oacute;rico de pedidos;</li>
            <li style="list-style:none inside; padding:0 0 0 10px;">Alterar informa&ccedil;&otilde;es de conta;</li>
            <li style="list-style:none inside; padding:0 0 0 10px;">Alterar sua senha;</li>
            <li style="list-style:none inside; padding:0 0 0 10px;">Cadastrar novos endere&ccedil;os de entrega (como endere&ccedil;o de familiares e amigos!)</li>
        </ul>
        <p></p>
        <p style="font-size:12px; line-height:16px; margin:0;">Se voc&ecirc; tiver alguma d&uacute;vida sobre sua conta ou qualquer outra informa&ccedil;&atilde;o do site, n&atilde;o deixe de entrar em contato atrav&eacute;s do email <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> ou por telefone {{config path='general/store_information/phone'}}.</p>
    </td>
</tr>

                   
{{template config_path="design/email/footer"}}