<!--@subject Confirmar Solicitação de Nova Senha p/ {{var customer.name}} - {{config path="general/store_information/name"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}
<tr>
    <td valign="top" class="container-td">
        <h1 style="font-size: 22px; font-weight: normal; line-height: 22px; margin: 0 0 11px 0;">Ol&aacute; {{htmlescape var=$customer.name}},</h1>
        <p style="font-size: 12px; line-height: 16px; margin: 0 0 8px 0;">Foi solicitado uma nova senha para sua conta.</p>
        <p style="font-size: 12px; line-height: 16px; margin: 0;">Se voc&ecirc; deseja alterar sua senha, clique no link para reiniciar sua senha: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
        <p style="font-size: 12px; line-height: 16px; margin: 0;">Se o clique no link n&atilde;o funcionar, copie e cole a URL no seu navegador.</p>
        <br />
        <p style="font-size:12px; line-height:16px; margin:0;">Se voc&ecirc; n&atilde;o fez essa solicita&ccedil;&atilde;o, ignore esta mensagem e sua senha permanecer&aacute; a mesma.</p>
    </td>
</tr>

{{template config_path="design/email/footer"}}