<!--@subject {{var customer.name}}, nova senha de acesso ao painel do cliente - {{config path="general/store_information/name"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<tr>
    <td valign="top" class="container-td">
        <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;"">Ol&aacute; {{htmlescape var=$customer.name}},</h1>
        <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;"><strong>Sua nova senha &eacute;:</strong> {{htmlescape var=$customer.password}}</p>
        <p style="font-size:12px; line-height:16px; margin:0;">Voc&ecirc; pode alterar sua senha a qualquer momento, basta acessar <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">sua conta</a>.<p>
    </td>
</tr>

{{template config_path="design/email/footer"}}